@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/*############################## GENERAL ##############################*/
*{
	box-sizing: border-box;
}
body {
	padding: 0px;
	margin: 0px;
	width: 100vw;
	height: 100%;
	align-items: center;
	justify-content: flex-start;
}
form {
	margin: 0px;
	padding: 0px;
}
p {
	margin-bottom: 0px;
}
input:focus {
	outline: none;
}
a,a:visited{
	color: white;
	text-decoration: none;
}
a:hover{
	cursor: pointer;
	font-weight: 700;
	text-decoration: underline;
}
input[type="button"]{
	border:none;
	color:white;
	font: 700 16px/auto 'Raleway';
	border-radius: 28px;
	background: linear-gradient(45deg,#63E1D9,#34A0CD)
}
input[type="button"]:hover{
	cursor: pointer;
}
.flexRow {
	display: flex;
	flex-direction: row;
}
.flexColumn {
	display: flex;
	flex-direction: column;
}

/*############################## HEADER ##############################*/
header {
	width: 1440px;
	height: 1258px;
	background: hsl(216, 53%, 9%) url("../images/bg-curvy-desktop.svg") bottom/1440px no-repeat;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	color: white;
}
/*------------------- MENU -------------------*/
menu {
	width: 1280px;
	height: 52px;
	margin-top: 73px;
	padding: 0px;
	justify-content: flex-end;
	background: url("../images/logo.svg") left/176px no-repeat;
}

menu p {
	height: 17px;
	margin: auto 0px auto 58px;
	font: 400 16px/52px 'Raleway';
	color: white;
}
/*------------------- GET STARTED -------------------*/

#header-pic {
	width: 720px;
	height: 534px;
	background: url("../images/illustration-intro.png") center/720px no-repeat;
	margin-top: 75px;
}
h1 {
	width: 734px;
	height: 120px;
	font: 700 40px/60px 'Raleway';
	margin: 36px 0px 0px;
}
#header-text {
	width: 589px;
	height: 90px;
	font: 400 20px/30px 'Open Sans';
}
#getStarted-bt {
	width: 280px;
	height: 56px;
	margin-top: 32px;
}

/*############################## MAIN ##############################*/
main{
	align-items: center;
	justify-content: flex-start;
	background-color: hsl(218, 28%, 13%);
}
main > div {
	width: 1440px;
	padding: 0px;
	margin: 0px;
	align-items: center;
	justify-content: flex-start;
}
/*------------------- ADVANTAGES -------------------*/
#advantages {
	width: 880px;
	height: 507px;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-rows: 214px 214px;
	grid-template-columns: 349px 349px;
	grid-template-areas: "access security"
		"collaboration store";
	grid-row-gap: 79px;
	grid-column-gap: 154px;
	color: white;
	text-align: center;
}
#advantages-access {
	grid-area: access;
}
#access-pic {
	background: url("../images/icon-access-anywhere.svg") center/84px no-repeat;
}
#advantages-security {
	grid-area: security;
}
#security-pic {
	background: url("../images/icon-security.svg") center/66px no-repeat;
}
#advantages-collaboration {
	grid-area: collaboration;
}
#collaboration-pic {
	background: url("../images/icon-collaboration.svg")center/84px no-repeat;
}
#advantages-store {
	grid-area: store;
}
#store-pic {
	background: url("../images/icon-any-file.svg") center/90px no-repeat;
}
.adv-pic {
	width: 104px;
	height: 104px;
}
.adv-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.adv-title {
	width: inherit;
	height: 23px;
	font: 700 20px/1 'Raleway';
	text-align: center;
	margin: 16px 0px 0px;
}
.adv-text {
	width: inherit;
	height: 63px;
	font: 400 14px/21px 'Raleway';
	margin: 8px 0px 0px;
}

/*------------------- STAY PRODUCTIVE -------------------*/
#stayProductive {
	height: 465px;
	background-color: hsl(218, 28%, 13%);
	justify-content: center;
}
#stayProductive-pic {
	width: 615px;
	height: inherit;
	background: url("../images/illustration-stay-productive.png") center no-repeat;
}
#stayProductive-content {
	width: 615px;
	height: inherit;
	text-align: left;
}
#sp-content-title {
	width: 340px;
	font: 700 40px/1.3 'Raleway';
	color: white;
	margin-left: 55px;
}
#sp-content-text {
	font: 400 16px/1.5 'Raleway';
	color: white;
	margin-left: 55px;
}
#sp-content-button {
	width: 170px;
	height: 25px;
	align-items: center;
	justify-content: flex-start;
	font: 400 16px/1.5 'Raleway';
	color: hsl(176, 68%, 64%);
	margin-top: 25px;
	border-bottom: solid 1px hsl(176, 68%, 64%);
	margin-left: 55px;
	background: url("../images/icon-arrow.svg") right/16px no-repeat;
}
#sp-content-button:hover {
	cursor: pointer;
	color: white;
	background-image: url("../images/icon-arrow-hover.svg");
	border-bottom-color: white;
}

/*------------------- TESTIMONIALS -------------------*/

#testimonials {
	width: 1440px;
	height: 730px;
	display: grid;
	align-items: center;
	justify-content: center;
	align-content: flex-start;
	grid-template-columns: 360px 360px 360px;
	grid-template-rows: 200px;
	grid-gap: 40px;
	grid-template-areas: "testim01 testim02 testim03";
	background-color: hsl(218, 28%, 13%);
	color: white;
	background: hsl(218, 28%, 13%) url("../images/bg-quotes.png") 9% 20%/55px no-repeat;
}
#testim-01 {
	grid-area: testim01;
}
#testim-02 {
	grid-area: testim02;
}
#testim-03 {
	grid-area: testim03;
}
.testimonial {
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: hsl(219, 30%, 18%);
	border-radius: 5px;
	margin-top: 350px;
}
.testimonial > div {
	width: 310px;
}
.testimonial-text {
	font: 400 15px/1.3 'Raleway';
	margin-top: 30px;
}
#profile01-pic {
	background: url("../images/profile-1.jpg") center/30px no-repeat;
}
#profile02-pic {
	background: url("../images/profile-2.jpg") center/30px no-repeat;
}
#profile03-pic {
	background: url("../images/profile-3.jpg") center/30px no-repeat;
}
.profile {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 20px;
}
.profile-pic {
	height: 30px;
	width: 30px;
	border-radius: 15px;
}
.profile-details {
	height: 30px;
}
.profile-details p {
	margin: auto auto 0px 10px;
}
.profile-name {
	font: 700 12px/1.2 'Raleway';
}
.profile-position {
	font: 400 10px/1.2 'Raleway';
}
/*------------------- GET ACCESS -------------------*/
#getAccess {
	width: 860px;
	height: 280px;
	position: absolute;
	z-index: 100;
	align-items: flex-start;
	text-align: center;
	top: 2925px;
	border-radius: 5px;
	background-color: hsl(217, 28%, 15%);
	color: white;
}
#getAccess-header {
	font: 700 28px/1 'Raleway';
	margin: 50px auto 0px auto;
}
#getAccess-text {
	width: 620px;
	font: 400 14px/1.5 'Raleway';
	margin: 30px auto 0px auto;
}
#getAccess-form {
	height: 45px;
	margin: 40px auto 0px auto;
}
#getAccess-tf {
	width: 480px;
	box-sizing: border-box;
	padding-left: 40px;
	color: #c1c1c1;
}
#getAccess-bt {
	width: 200px;
	background-color: hsl(176, 68%, 64%);
	font: 700 14px/45px 'Raleway';
	color: white;
}
#getAccess-bt:hover {
	cursor: pointer;
	background-color: hsla(176, 68%, 64%, 0.9);
}
.form-element {
	height: 45px;
	border-radius: 22px;
	border: none;
	margin: auto 15px auto 15px;
}
#getAcces-errorMsg {
	font: 700 11px/1 'Raleway';
	margin: 10px 0px auto 93px;
}
/*############################## FOOTER ##############################*/
footer {
	width: 1440px;
	height: 500px;
	align-items: center;
	justify-content: center;
	background-color: hsl(216, 53%, 9%);
}
#footer-info {
	width: 1240px;
	height: 240px;
	display: grid;
	grid-template-rows: 50px 160px;
	grid-template-columns: 360px 215px 250px 115px;
	grid-row-gap: 30px;
	grid-column-gap: 100px;
	grid-template-areas: "logo logo logo logo""location contact links media";
	margin-top: 90px;
}
#info-logo {
	grid-area: logo;
}
#info-location {
	grid-area: location;
	align-content: flex-start;
	justify-content: space-between;
}
#location-icon {
	width: 13px;
	height: 18px;
}
#location-text {
	font: 400 16px/1.4 'Open Sans';
	margin-left: 25px;
	color: white;
}
#info-contact {
	grid-area: contact;
	align: center;
}
#info-contact > div {
	align-items: center;
	margin: 0px 0px 20px 0px;
}
#info-contact p {
	color: white;
	font: 400 14px/1 'Open Sans';
	margin: auto 0px auto 25px;
}
#phone-img {
	width: 18px;
	height: 18px;
}
#mail-img {
	width: 20px;
	height: 16px;
}
#info-links {
	grid-area: links;
	justify-content: space-between;
}
#info-links > div {
	width: 100px;
	height: 160px;
	text-align: left;
}
#info-links p {
	color: white;
	font: 400 16px/1 'Open Sans';
	margin: 0px 0px 20px 0px;
}
#info-links p:hover {
	cursor: pointer;
	font-weight: 600;
}
#info-media {
	grid-area: media;
	align-items: center;
	justify-content: space-between;
}
#info-media > div {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	border: solid 1px white;
	margin: 0px 7px auto 0px;
}
#info-media > div:hover {
	cursor: pointer;
	border-color: #64E1D9;
}
#media-facebook {
	background: url("../images/icon-facebook.svg") center/15px no-repeat;
}
#media-facebook:hover {
	background-image: url("../images/icon-facebook-hover.svg");
}
#media-twitter {
	background: url("../images/icon-twitter.svg") center/15px no-repeat;
}
#media-twitter:hover {
	background-image: url("../images/icon-twitter-hover.svg");
}
#media-instagram {
	background: url("../images/icon-instagram.svg") center/15px no-repeat;
}
#media-instagram:hover {
	background-image: url("../images/icon-instagram-hover.svg");
}
/*############################################################################*/
/*############################## MOBILE VERSION ##############################*/
/*############################################################################*/
@media screen and (max-width: 480px) {
	/*-------- MENU --------*/
	main > div {
		width: 100vw;
	}
	menu {
		width: 100vw;
		margin-top: 30px;
	}
	#menu-logo {
		width: 80px;
		background-size: 80px;
		margin-left: 25px;
	}
	#menu-links {
		width: 200px;
		margin-right: 25px;
	}
	#menu-links > div {
		width: 55px;
	}
	#menu-links p {
		font-size: 12px;
	}
	/*-------- GET STARTED --------*/
	header {
		width: 100vw;
		height: 800px;
		background: url("../images/bg-curvy-mobile.svg") bottom/100vw no-repeat;
		background-color: hsl(216, 53%, 9%);
	}
	#header-pic {
		width: 1325px;
		height: 240px;
		background: url("../images/illustration-intro.png") top/325px no-repeat;
		margin-top: 55px;
	}
	#header-title {
		width: 325px;
		font-size: 25px;
	}
	#header-text {
		width: 325px;
		font-size: 16px;
	}
	/*-------- ADVANTAGES --------*/
	#advantages {
		height: 1150px;
		padding-top: 50px;
		grid-template-rows: 210px 210px 210px 210px;
		grid-template-columns: 345px;
		grid-template-areas: "access""security""collaboration""store";
	}
	/*-------- STAY PRODUCTIVE --------*/
	#stayProductive {
		flex-direction: column;
		height: 700px;
		align-items: center;
		justify-content: space-evenly;
	}
	#stayProductive-pic {
		width: inherit;
		height: 390px;
		background-size: 300px;
	}
	#stayProductive-content {
		width: 325px;
		height: 270px;
	}
	#sp-content-title {
		width: 325px;
		font-size: 18px;
		margin-left: 0px;
	}
	#sp-content-text {
		font-size: 14px;
		margin-left: 0px;
	}
	#sp-content-button {
		margin-left: 0px;
	}
	/*-------- TESTIMONIALS --------*/
	#testimonials {
		width: 100vw;
		display: grid;
		height: 1020px;
		box-sizing: border-box;
		grid-template-columns: 280px;
		grid-template-rows: 160px 160px 160px;
		grid-gap: 20px;
		grid-template-areas: "testim01""testim02""testim03";
		padding-top: 160px;
		background-position: 23% 14.5%;
		background-size: 20px;
	}
	.testimonial {
		height: 160px;
		margin-top: 0px;
	}
	.testimonial > div {
		width: 240px;
	}
	.testimonial-text {
		font-size: 10px;
		line-height: 1.7;
		margin-top: 10px;
	}
	.profile {
		margin-top: 20px;
	}
	.profile-pic {
		background-size: 25px;
		height: 25px;
		width: 25px;
		border-radius: 12px;
		margin-right: 10px;
	}
	.profile-details {
		height: 30px;
	}
	.profile-name {
		font-size: 10px;
		line-height: 1.8;
	}
	.profile-position {
		font-size: 10px;
	}
	/*-------- GET ACCESS --------*/
	#getAccess {
		width: 340px;
		height: 350px;
		top: 3520px;
	}
	#getAccess-header {
		font-size: 18px;
		margin: 30px auto 0px auto;
	}
	#getAccess-text {
		width: 275px;
	}
	#getAccess-form {
		width: 280px;
		height: 115px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	#getAccess-form input {
		width: 280px;
	}
	.form-element {
		height: 45px;
		border-radius: 22px;
		border: none;
		margin: 0px auto;
	}
	#getAcces-errorMsg {
		margin: 10px auto 0px auto;
	}
	/*-------- FOOTER --------*/
	footer {
		width: 100vw;
		height: 1000px;
		justify-content: flex-start;
	}
	#footer-info {
		width: 325px;
		height: 700px;
		grid-template-rows: 80px 100px 130px 320px 160px;
		grid-template-columns: 325px;
		grid-row-gap: 10px;
		grid-template-areas: "logo""location""contact""links""media";
		margin-top: 210px;
	}
	#info-links {
		flex-direction: column;
	}
	#info-media {
		width: 120px;
		height: 32px;
		margin: 0px auto;
	}
	#info-media > div {
		margin: 0px 5px auto 5px;
	}
}