@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*############################## GENERAL ##############################*/
* {
	box-sizing: border-box;
}

body {
	padding: 0px;
	margin: 0px;
	width: 100vw;
	height: 100%;
	align-items: center;
	justify-content: flex-start;
}

form {
	margin: 0px;
	padding: 0px;
}

p {
	margin-bottom: 0px;
}

input:focus {
	outline: none;
}

::placeholder {
	color: #C0C0C0;
	font: 400 12px/1 'Open Sans';
}

a,
a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	font-weight: 700;
	text-decoration: underline;
}

input[type="button"] {
	border: none;
	color: white;
	border-radius: 28px;
	background: linear-gradient(45deg, #63E1D9, #34A0CD)
}

input[type="button"]:hover {
	cursor: pointer;
	background: none;
	background-color: #8ADAE3;
}

.flexRow {
	display: flex;
	flex-direction: row;
}

.flexColumn {
	display: flex;
	flex-direction: column;
}

/*############################## HEADER ##############################*/

header {
	width: 1440px;
	height: 1258px;
	background: #1B2330 url("../images/bg-curvy-desktop.svg") bottom/1440px no-repeat;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	color: white;
}

/*------------------- MENU -------------------*/
menu {
	width: 1280px;
	height: 52px;
	margin-top: 73px;
	padding: 0px;
	justify-content: flex-end;
	background: url("../images/logo.svg") left/176px no-repeat;
}

menu p {
	height: 17px;
	margin: auto 0px auto 58px;
	font: 400 16px/52px 'Raleway';
	color: white;
}

/*------------------- GET STARTED -------------------*/

#header-pic {
	width: 720px;
	height: 534px;
	background: url("../images/illustration-intro.png") center/720px no-repeat;
	margin-top: 75px;
}

h1 {
	width: 734px;
	height: 120px;
	font: 700 40px/60px 'Raleway';
	margin: 36px 0px 0px;
	padding: 0px;
}

#header-text {
	width: 589px;
	height: 90px;
	font: 400 20px/30px 'Open Sans';
}

#getStarted-bt {
	width: 280px;
	height: 56px;
	margin-top: 32px;
	font: 700 16px/0px 'Raleway';
}

/*############################## MAIN ##############################*/
main {
	align-items: center;
	justify-content: flex-start;
	background-color: hsl(218, 28%, 13%);
}

main>div {
	width: 1440px;
	padding: 0px;
	margin: 0px;
	align-items: center;
	justify-content: flex-start;
}

/*------------------- ADVANTAGES -------------------*/
#advantages {
	width: 880px;
	height: 507px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	color: white;
	text-align: center;
}

#advantages-access {
	width: 349px;
	align-self: flex-start;
}

#access-pic {
	background: url("../images/icon-access-anywhere.svg") center/84px no-repeat;
}

#advantages-security {
	width: 384px;
	align-self: flex-start;
}

#security-pic {
	background: url("../images/icon-security.svg") center/66px no-repeat;
}

#advantages-collaboration {
	width: 363px;
	align-self: flex-end;
}

#collaboration-pic {
	background: url("../images/icon-collaboration.svg")center/84px no-repeat;
}

#advantages-store {
	width: 363px;
	align-self: flex-end;
}

#store-pic {
	background: url("../images/icon-any-file.svg") center/90px no-repeat;
}

.adv-pic {
	width: 104px;
	height: 104px;
}

.adv-container {
	height: 214px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.adv-title {
	width: inherit;
	height: 23px;
	font: 700 20px/1 'Raleway';
	text-align: center;
	margin: 16px 0px 0px;
}

.adv-text {
	width: inherit;
	height: 63px;
	font: 400 14px/21px 'Raleway';
	margin: 8px 0px 0px;
}

/*------------------- STAY PRODUCTIVE -------------------*/
#stayProductive {
	height: 463px;
	justify-content: center;
	margin-top: 137px;
}

#stayProductive-pic {
	width: 615px;
	height: inherit;
	background: url("../images/illustration-stay-productive.png") center no-repeat;
}

#stayProductive-content {
	width: 615px;
	height: inherit;
	text-align: left;
}

#sp-content-title {
	width: 340px;
	height: 100px;
	font: 700 40px/50px 'Raleway';
	color: white;
	margin: 115px 0px 0px 57px;
}

.sp-content-text {
	width: 563px;
	height: 48px;
	font: 400 16px/24px 'Raleway';
	color: white;
	margin-left: 57px;
	margin-bottom: 0px;
}

.sp-content-text-top {
	margin-top: 19px;

}

.sp-content-text-bottom {
	margin-top: 16px;
}

#sp-content-button {
	width: 166px;
	height: 27px;
	align-items: center;
	justify-content: flex-start;
	font: 400 16px/1.5 'Raleway';
	color: hsl(176, 68%, 64%);
	margin-top: 24px;
	border-bottom: solid 1px hsl(176, 68%, 64%);
	margin-left: 57px;
	background: url("../images/icon-arrow.svg") right/14px no-repeat;
}

#sp-content-button:hover {
	cursor: pointer;
	color: white;
	background-image: url("../images/icon-arrow-hover.svg");
	border-bottom-color: white;
}

/*------------------- TESTIMONIALS -------------------*/

#testimonials {
	width: 1440px;
	height: 730px;
	display: grid;
	align-items: center;
	justify-content: center;
	align-content: flex-start;
	grid-template-columns: 360px 360px 360px;
	grid-template-rows: 200px;
	grid-gap: 40px;
	grid-template-areas: "testim01 testim02 testim03";
	background-color: hsl(218, 28%, 13%);
	color: white;
	background: hsl(218, 28%, 13%) url("../images/bg-quotes.png") 130px 20%/55px 48px no-repeat;
}

#testim-01 {
	grid-area: testim01;
}

#testim-02 {
	grid-area: testim02;
}

#testim-03 {
	grid-area: testim03;
}

.testimonial {
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: hsl(219, 30%, 18%);
	border-radius: 4px;
	margin-top: 350px;
}

.testimonial>* {
	width: 309px;
}

.testimonial-text {
	height: 84px;
	font: 400 15px/21px'Raleway';
	margin-top: 40px;
}

#profile01-pic {
	background: url("../images/profile-1.jpg") center/24px no-repeat;
}

#profile02-pic {
	background: url("../images/profile-2.jpg") center/24px no-repeat;
}

#profile03-pic {
	background: url("../images/profile-3.jpg") center/24px no-repeat;
}

.profile {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 24px;
}

.profile-pic {
	height: 24px;
	width: 24px;
	border-radius: 15px;
}

.profile-details {
	height: 26px;
}

.profile-details p {
	letter-spacing: 0.5px;
}

.profile-name {
	height: 12px;
	font: 700 10px/12px 'Raleway';
	margin: 0px 0px 0px 8px;
}

.profile-position {
	height: 10px;
	font: 400 7px/10px 'Raleway';
	margin: 4px 0px 0px 8px;
}

/*------------------- GET ACCESS -------------------*/
#getAccess {
	width: 863px;
	height: 275px;
	position: absolute;
	z-index: 100;
	align-items: flex-start;
	text-align: center;
	top: 2946px;
	border-radius: 5px;
	background-color: hsl(217, 28%, 15%);
	color: white;
}

#getAccess-header {
	height: 48px;
	font: 700 32px/48px 'Raleway';
	margin: 42px auto 0px auto;
}

#getAccess-text {
	width: 673px;
	height: 42px;
	font: 400 14px/21px 'Raleway';
	margin: 16px auto 0px auto;
}

#getAccess-form {
	height: 48px;
	margin: 38px auto 0px auto;
}

#getAccess-tf {
	width: 480px;
	height: inherit;
	padding-left: 38px;
	color: #c1c1c1;
}

#getAccess-bt {
	width: 200px;
	font: 700 14px/0px 'Raleway';
}

.form-element {
	height: 45px;
	border-radius: 22px;
	border: none;
	margin: auto 15px auto 15px;
}

#getAcces-errorMsg {
	font: 700 10px/0px 'Open Sans';
	margin: 10px 0px auto 93px;
}

/*############################## FOOTER ##############################*/
footer {
	width: 1440px;
	height: 551px;
	align-items: center;
	justify-content: center;
	background-color: hsl(216, 53%, 9%);
}

#footer-info {
	width: 1240px;
	height: 240px;
	display: grid;
	grid-template-rows: 50px 160px;
	grid-template-columns: 360px 215px 250px 115px;
	grid-row-gap: 30px;
	grid-column-gap: 100px;
	grid-template-areas: "logo logo logo logo" "location contact links media";
	margin-top: 169px;
}

#info-logo {
	grid-area: logo;
	background: url("../images/logo.svg") left/108px 31px no-repeat;
}

#info-location {
	grid-area: location;
	justify-content: flex-start;
}

#location-icon {
	width: 13px;
	height: 18px;
}

#location-text {
	font: 400 16px/24px 'Open Sans';
	margin-left: 25px;
	color: white;
}

#info-contact {
	grid-area: contact;
	align-items: flex-start;
}

#info-contact>div {
	align-items: center;
	margin: 0px 0px 20px 0px;
}

#info-contact p {
	color: white;
	font: 400 14px/21px 'Open Sans';
	margin: auto 0px auto 25px;
}

#phone-img {
	width: 18px;
	height: 18px;
}

#mail-img {
	width: 20px;
	height: 16px;
}

#info-links {
	grid-area: links;
	justify-content: space-between;
}

#info-links>div {
	width: 100px;
	height: 160px;
	text-align: left;
}

#info-links p {
	color: white;
	font: 400 16px/1 'Open Sans';
	margin: 0px 0px 20px 0px;
}

#info-links p:hover {
	cursor: pointer;
	font-weight: 600;
}

#info-media {
	grid-area: media;
	align-items: center;
	justify-content: space-between;
}

#info-media>div {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	border: solid 1px white;
	margin: 0px 7px auto 0px;
}

#info-media>div:hover {
	cursor: pointer;
	border-color: #64E1D9;
}

#media-facebook {
	background: url("../images/icon-facebook.svg") center/15px no-repeat;
}

#media-facebook:hover {
	background-image: url("../images/icon-facebook-hover.svg");
}

#media-twitter {
	background: url("../images/icon-twitter.svg") center/15px no-repeat;
}

#media-twitter:hover {
	background-image: url("../images/icon-twitter-hover.svg");
}

#media-instagram {
	background: url("../images/icon-instagram.svg") center/15px no-repeat;
}

#media-instagram:hover {
	background-image: url("../images/icon-instagram-hover.svg");
}

/*############################################################################*/
/*############################## MOBILE VERSION ##############################*/
/*############################################################################*/
@media screen and (max-width: 480px) {

	/*-------- MENU --------*/
	main>div {
		width: 100vw;
	}

	menu {
		width: calc(100vw - 48px);
		height: 24px;
		margin-top: 24px;
		padding: 0px;
		background: url("../images/logo.svg") left/80px no-repeat;
		align-items: center;
	}

	menu p {
		margin: 0px 0px 0px 24px;
		padding: 0px;
		font: 400 12px/12px 'Raleway';
	}

	/*-------- GET STARTED --------*/
	header {
		width: 100vw;
		height: 800px;
		background: url("../images/bg-curvy-mobile.svg") bottom/100vw no-repeat;
		background-color: hsl(216, 53%, 9%);
	}

	#header-pic {
		width: 304px;
		height: 240px;
		background: url("../images/illustration-intro.png") top/304px no-repeat;
		margin-top: 55px;
	}

	h1 {
		width: 320px;
		height: 108px;
		font: 700 24px/36px 'Raleway';
		margin: 33px 0px 0px;
	}

	#header-text {
		width: 296px;
		height: 84px;
		font: 400 14px/21px 'Open Sans';
		margin-top: 15px;
	}

	#getStarted-bt {
		width: 240px;
		height: 48px;
		margin-top: 32px;
		font-size: 14px;
	}

	/*------------------- ADVANTAGES -------------------*/
	#advantages {
		width: 320px;
		height: 1036px;
		justify-content: flex-start;
	}

	.adv-pic {
		width: 90px;
		height: 90px;
		background-size: 80px 80px;
	}

	.adv-container {
		height: 214px;
		width: 320px !important;
		align-self: flex-start !important;
	}

	.adv-text {
		height: 63px;
	}

	/*-------- STAY PRODUCTIVE --------*/

	#stayProductive {
		width: calc(100vw - 48px);
		height: 500px;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}

	#stayProductive-pic {
		width: inherit;
		height: 329px;
		background-size: contain;
	}

	#stayProductive-content {
		width: inherit;
		height: 347px;
		display: flex;
		flex-direction: column;
	}

	#sp-content-title {
		width: inherit;
		height: 50px;
		font: 700 24px/24px 'Raleway';
		text-align: center;
		margin: 48px 0px 0px 0px;
	}

	#sp-content-text {
		font-size: 14px;
		margin-left: 0px;
	}

	#sp-content-button {
		margin-left: 0px;
	}

	.sp-content-text {
		width: inherit;
		height: 63px;
		font: 400 14px/21px 'Raleway';
		margin: 16px 0px 0px 0px;
	}

	#sp-content-button {
		font: 400 12px/12px 'Raleway';
	}

	/*-------- TESTIMONIALS --------*/

	#testimonials {
		width: 100vw;
		height: 870px;
		display: grid;
		grid-template-columns: 280px;
		grid-template-rows: 160px 160px 160px;
		grid-gap: 24px;
		grid-template-areas: "testim01" "testim02" "testim03";
		padding-top: 0px;
		background-position: 23% 14.5%;
		background-size: 20px;
		margin-top: 160px;
	}

	.testimonial {
		height: 160px;
		margin-top: 0px;
	}

	.testimonial>div {
		width: 240px;
	}

	.testimonial-text {
		width: 240px;
		height: 72px;
		font: 400 10px/18px'Raleway';
		margin-top: 24px;
	}

	.profile {
		margin-top: 20px;
	}

	.profile-pic {
		background-size: 25px;
		height: 25px;
		width: 25px;
		border-radius: 12px;
		margin-right: 10px;
	}

	.profile-details {
		height: 30px;
	}

	.profile-name {
		font-size: 10px;
		line-height: 1.8;
	}

	.profile-position {
		font-size: 10px;
	}

	/*-------- GET ACCESS --------*/

	#getAccess {
		width: calc(100vw - 48px);
		height: 353px;
		border-radius: 9px;
		top: 3320px;
	}

	#getAccess-header {
		width: 295px;
		height: 24px;
		font: 700 18px/24px 'Raleway';
	}

	#getAccess-text {
		width: 280px;
		height: 84px;
	}

	#getAccess-form {
		width: 280px;
		height: 120px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#getAccess-form input {
		width: 280px;
		height: 48px;
	}

	.form-element {
		border-radius: 24px;
		margin: 0px auto;
	}

	#getAcces-errorMsg {
		margin: 10px auto 0px auto;
	}

	#getAccess-bt {
		font: 700 14px/14px 'Raleway';
	}

	/*-------- FOOTER --------*/

	footer {
		width: 100vw;
		height: 974px;
		align-items: flex-start;
		justify-content: flex-start;
		padding-left: 24px;
	}

	#footer-info {
		width: calc(100vw - 48px);
		height: 700px;
		grid-template-rows: 80px 100px 130px 320px 160px;
		grid-template-columns: calc(100vw - 48px);
		grid-row-gap: 10px;
		grid-template-areas: "logo" "location" "contact" "links" "media";
		margin-top: 210px;
	}

	#location-text {
		width: 300px;
		justify-self: flex-start;
		align-self: flex-start;
	}

	#info-links {
		flex-direction: column;
	}

	#info-media {
		width: 120px;
		height: 32px;
		margin: 0px 0px;
		justify-self: center;
	}

	#info-media>div {
		margin: 0px 5px auto 5px;
	}
}